
<div class="nav-bar-admin">
  <app-nav-bar></app-nav-bar>
</div>

<div class="section" id="out-classes">
    <div class="container">
        <div class="row ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
            <div class="col-lg-4">
              <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
                <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" 
                aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true">
                <a [routerLink]="['/userAdminControl']" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">
                  <img src="/assets/img/9.png" class="image-gym" alt="">Users Admin Control</a></li>
                <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-2" 
                aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false">
                <a [routerLink]="['/playerControl']" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">
                  <img src="/assets/img/9.png" class="image-gym" alt="">Players Control</a></li>
                <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-3" 
                aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false">
                <a class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">
                  <img src="/assets/img/9.png" class="image-gym" alt="">Exercise Type Control</a></li>
                
              </ul>
            </div>
            <div class="col-lg-8">
              <section class="tabs-content">
                <article id="tabs-1" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="false">
                  <img src="/assets/img/7.jpg" class="img-section" alt="First Class">
                  <h4>Welcome To Center GYM Admin Page</h4>
                  <p>here we have all about admin control ... <br>
                  about Users Admin control , Exercise Type control and Player control<br>
                  directed by ( Bakr Ibrahem and Ahmed Ibrahem ) - Center GYM</p>
                  
                </article>
                
              </section>
            </div>
          </div>
    </div>
</div>
